.benefits {
  width: 100%;
  // background-color: $color3;
}

.benefits__inner {
  width: 100%;
  min-height: 344px;
  padding: 50px 18px 50px 18px;
  border-radius:15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  background-color: $color3;
}

.benefits__item {
  width: 308px;
  min-height: 244px;
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 60px;
    right: -19px;
    width: 1px;
    height: 124px;
    background-color: $color1-light;
  }
}

.benefits__svg {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid $color1-light;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;


  .svg {
    width: 32px;
    height: 32px;
    fill: $color4;
  }
}

.benefits__title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: $color1;
  letter-spacing: normal;
  margin-bottom: 18px;
}

.benefits__content {
  line-height: normal;
  color: $color1-light;
}


@media (max-width:1100px) {
  .benefits__item {

    &:not(:last-child)::after {
      display: none;
    }
  }
}
