/* Header styles */
.header {
  width: 100%;
  padding: 24px 0 32px 0;
  
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid blue;
}

.logo {
  width: 100%;
  max-width: 211px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .svg {
    width: 24px;
    height: 24px;
    stroke: $color4;
    stroke-width: 1.4;
    // stroke-dashoffset: 80;
    // stroke-dasharray: 0;
    fill: none;
    transition: all .3s;

  }

  &:hover > .logo__letter {
    color:$color4;
  }

  &:hover > svg {
    stroke: $color2;
  }
}

.logo__letter {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -3.7px;
  text-transform: uppercase;
  transition: all .3s;

  &:nth-child(n + 8) {
    font-style: normal;
    letter-spacing: -3.5px;
  }
}

.nav {
  width: 100%;
  max-width: 532px;
  margin-right: -54px;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  transition: color .3s;

  &:hover {
    color:$color4;
  }
}

.nav__social {
  display: none;
}

.nav__social-link {
  width: 21px;
  height: 21px;
}

.social {
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 24px;
    height: 24px;
    stroke: $color2;
    stroke-width: 2;
    fill: none;
    transition: all .3s;

  }

}

.social__link {
  width: 24px;
  height: 24px;

  &:nth-child(1) {
    margin-right: 18px;
  }

  &:hover svg {
    stroke: $color4;
  }
}

.burger {
  display: none;
  width: 24px;
  height: 16px;
  position: relative;
  transition: all .3s;
  z-index: 10;

  &:hover .burger__span {
    background-color: $color4;
  }
}

.burger__span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.2px;
  border-radius: 1px;
  background-color: $color2;
  transition: all .3s;
}

.burger__span-one {
  top: 0;

}

.burger__span-two {
  top: 50%;
}

.burger__span-three {
  top: 100%;
}


@media (max-width:950px) {

  .logo {
    max-width: 169px;
  
    .svg {
      width: 21px;
      height: 21px;
      stroke-width: 1.8;
  
    }
  }
  
  .logo__letter {
    font-size: 14px;
  }

  .nav {
    margin-right: 0;
    max-width: 483px;
  }

  .social {
    width: 56px;
  
    svg {
      width: 21px;
      height: 21px;
      stroke-width: 1.8;
  
    }
  
  }
  
  .social__link {
    width: 21px;
    height: 21px;
  
    &:nth-child(1) {
      margin-right: 13px;
    }
  }
}

@media (max-width:768px) {

 

  .header__nav {
    position:fixed;
    top: 0;
    right: 0;
    transition: all .8s;
    max-width: 290px;
    height: 100vh;
    transform: translateX(100%);
    padding: 156px 0 0 85px;
    background-color: $color2;
    z-index: 5;

    .nav__list {
      flex-direction: column;
      align-items: start;
    }
    .nav__item:not(:last-child) {
      margin-bottom: 24px;
    }

    .nav__link {
      color:$color1;
      transition: color .3s;

      &:hover {
        color:$color4;
      }
    }
  }
  .header__social {
    display: none;
  }

  .nav__social {
    position: absolute;
    left: 32px;
    bottom: 74px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    svg {
      width: 21px;
      height: 21px;
      stroke: $color1;
      stroke-width: 1.8;
      fill: none;
      transition: all .3s;
    }


  }

  .nav__social-link:hover svg {
    stroke:$color4;
  }

  .burger {
    display: block;
  }

  .untranslate {
    transform: translateX(0);
   }

   .span-one-transform {
    top: 50%;
    transform: rotate(45deg);
    transition: all .3s;
    background-color: $color1;
  }
  
  .span-two-transform {
    transform: rotate(-45deg);
    transition: all .3s;
    background-color: $color1;
  }
  
  .span-three-transform {
    display: none;
  }
}

@media (max-width:375px) {
  .header__nav {
    max-width: 220px;
    padding: 136px 0 0 50px;
  }
}