// hero section

.hero {
  width: 100%;
  padding: 0 0 72px 0;
}

.hero__inner {
  width: 100%;
  min-height: 600px;
  padding: 381px 40px 40px 40px;
  border-radius: 30px;

  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.hero__title {
  max-width: 484px;
  margin-bottom: 32px;
}


.hero__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__buttons-left {
  width: 100%;
  max-width: 341px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hero__button {
  border: 1px solid $color1;
  color: $color1;

  &:hover {
    border: 1px solid $color4;
    color: $color4;
    transition: all .3s;
  }
}

.hero__scroll-button {
  width: 130px;
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .hero__scroll-text{
    color: $color4;
  }
  &:hover .hero__svg-box{
    background-color: $color4;
    animation: move-arrow 1s infinite linear forwards;
  }

  &:hover svg{
    fill: $color1;
  }
}

.hero__scroll-text {
  color: $color1;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.42px;
}

.hero__svg-box {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color1;
  transition: background-color .3s;

  

  .svg {
    width: 22px;
    height: 22px;
    fill:$color4;
    transition: stroke .3s;
  }
}

@keyframes move-arrow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width:768px) {
  .hero__inner {
    padding: 671px 40px 40px 40px;
    background-image: url('../img/hero-bg-tablet.jpg');
  }

  .hero__title {
    max-width: 469px;
  }
}

@media (max-width:648px) {

  .hero {
    padding: 0 0 52px 0;
  }

  .hero__inner {
    padding: 395px 20px 20px 20px;

  }

  .hero__title {
    max-width: 428px;

  }

  .hero__buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__buttons-left {
    max-width: 293px;
    margin-bottom: 32px;
  }

  .hero__scroll-button {
    width: 107px;
    padding-top: 6px;
  }

  .hero__scroll-text {
    font-size: 12px;
    letter-spacing: -0.36px;
  }

  .hero__svg-box {
    width: 28px;
    height: 28px;

    .svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width:450px) {

  .hero {
    padding: 0 0 32px 0;
  }

  .hero__inner {
    background-image: url('../img/hero-bg-mobile.jpg');
  }
}

@media (max-width:375px) {

  .hero__title {
    max-width: 295px;

  }

  .hero__buttons-left {
    max-width: 247px;
  }
}

@media (max-width:375px) {
  .hero__buttons-left {
    max-width: 247px;
    margin-bottom: 22px;
    flex-direction: column;
    align-items: start;

    .main-button {
      margin-bottom: 12px;
    }
  }
}