.products {
  width: 100%;
  padding: 64px 0 ;
}

.products__title {
  margin-bottom: 46px;
}

.swiper {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.product__slider {
 
  .swiper-slide {
    padding-top: 10px;
  }
}

.products__slider-wrapper {
  width: 100%;
  padding: 0 0 42px 0;

  .swiper-slide-active {
    box-shadow:0 0 15px $pl-holder-color;
    scale:1.05;
    border: 1px solid transparent;
    transition: all .3s;

    .product__card-btn {
      border: 1px solid $color4;
      scale: 1.05;
      pointer-events: all;
    }
  }
}

.products__card {
  width: 100%;
  max-width: 270px;
  padding: 32px 20px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid $color6;
  background-color: $color1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: all .3s;
 
}

.products__card-img {
  margin-bottom: 8px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.14/1;
 
}

.product__card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  text-align: center;
}

.product__card-subtitle {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.24px;
  margin-bottom: 18px;
  text-align: center;
}

.product__card-btn {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid $color6;
  background-color: $color1;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
  pointer-events: none;
}

.products__pagination {
  width: 100%;
  height: 14px;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $color6;
    margin: 0 6px;
    cursor: pointer;
    transition: all .3s;
  }

  .swiper-pagination-bullet-active {
    width: 28px;
    background-color: $color4;
  }
}

@media (max-width:1050px) {
  .products {
    padding: 50px 0 ;
  }
}

@media (max-width:950px) {
  .products__card {
    max-width: 300px;
  }
}

@media (max-width:715px) {
  .products__card {
    max-width: 325px;
  }
}

@media (max-width:600px) {
  .products {
    padding: 36px 0 ;

  }
}

@media (max-width:480px) {

  .products__title {
    margin-bottom: 32px;
  }
  .products__card {
    max-width: 350px;
  }
}