// colors
$body-bg:rgb(251, 249, 246);
$color1:rgb(255, 255, 255);
$color1-light:rgba(255, 255, 255,.7);
$color1-opacity:rgba(255, 255, 255,.1);
$color2:rgb(17, 17, 17);
$color2-light:rgba(17, 17, 17, .7);
$color3:rgb(30, 24, 35);
//  $color4:rgb(253, 146, 34);
 $color4:rgb(186 121 74);
// $color4:#ff5a30;
$color5:rgb(252, 241, 224);
$color6:rgba(17, 17, 17, 0.1);
$pl-holder-color:rgba(64, 64, 64, 0.3);
$modal-color:rgba(64, 64, 64, 0.2);

// fonts
$main-font:"Montserrat";

// var for sizes

$index: calc(1vw + 1vh);

